body
  font-family "Avenir Next", sans-serif

.label
  display inline-block
  width 7em

.container
  max-width 640px
  margin 0 auto

button
input
  font-family "Avenir Next", sans-serif
  font-size 1em

  border-radius .3em

  &:focus
    outline 0
    border-color #999

button
  border 1px solid #ccc

  background none

  width 2em

  cursor pointer

  box-shadow 0 0 .2em rgba(0,0,0,0.15)

input
  border 1px solid transparent

.ratio-input
  width 2em

.coffee-input
  width 2.9em
