<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="coffee">

  <div class="container">
  <form action="" coffee-calculator>
    <div class="form-control">
      <label for="coffee-weight" class="label">
        Coffee (g)
      </label>
      <input type="number"
        id="coffee-weight"
        class="coffee-input"
        min="1"
        max="99"
        ng-model="calculator.coffee">

      <button type="button" title="Increase amount of coffee"
        ng-click="calculator.setCoffee(calculator.coffee + 1)">+</button>
      <button type="button"
        title="Decrease amount of coffee"
        ng-click="calculator.setCoffee(calculator.coffee - 1)">-</button>
    </div>

    <div>
      <span class="label">Water (g/ml):</span>
      <span ng-bind="calculator.water().toFixed(2)"></span>
    </div>

    <div class="form-control">
      <label for="ratio" class="label">
        Ratio
      </label>
      1:<input type="number"
        id="ratio"
        class="ratio-input"
        min="1"
        max="20"
        ng-model="calculator.ratio">

      <button type="button" title="Increase ratio"
        ng-click="calculator.setRatio(calculator.ratio + 1)">+</button>
      <button type="button"
        title="Decrease ratio"
        ng-click="calculator.setRatio(calculator.ratio - 1)">-</button>
    </div>


    <div>
      <span class="label">Servings:</span>
      <span ng-bind="calculator.cups().toFixed(2)"></span>
    </div>

    <div>
      <span class="label">Brew Method:</span>
      <span ng-bind="calculator.type().name"></span>
    </div>
  </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
